Source: ros-rolling-rmw-int2dds-cpp
Section: misc
Priority: optional
Maintainer: "Jungsup Lee" <int2dds@int2.us>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-ament-cmake-cpplint <!nocheck>, ros-rolling-ament-cmake-flake8 <!nocheck>, ros-rolling-ament-cmake-gtest <!nocheck>, ros-rolling-ament-cmake-ros-core, ros-rolling-ament-cmake-test <!nocheck>, ros-rolling-ament-lint-auto <!nocheck>, ros-rolling-ament-lint-common <!nocheck>, ros-rolling-int2dds-ffi-vendor, ros-rolling-rcpputils, ros-rolling-rcutils, ros-rolling-rmw, ros-rolling-rmw-dds-common, ros-rolling-rosidl-dynamic-typesupport, ros-rolling-rosidl-runtime-c, ros-rolling-rosidl-runtime-cpp, ros-rolling-rosidl-typesupport-c, ros-rolling-rosidl-typesupport-cpp, ros-rolling-rosidl-typesupport-introspection-c, ros-rolling-rosidl-typesupport-introspection-cpp, ros-rolling-std-msgs, ros-rolling-test-msgs <!nocheck>, ros-rolling-ros-workspace
Homepage: https://github.com/IntellectusCorp/int2DDS
Standards-Version: 3.9.2

Package: ros-rolling-rmw-int2dds-cpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-int2dds-ffi-vendor, ros-rolling-rcpputils, ros-rolling-rcutils, ros-rolling-rmw, ros-rolling-rmw-dds-common, ros-rolling-rosidl-dynamic-typesupport, ros-rolling-rosidl-runtime-c, ros-rolling-rosidl-runtime-cpp, ros-rolling-rosidl-typesupport-c, ros-rolling-rosidl-typesupport-cpp, ros-rolling-rosidl-typesupport-introspection-c, ros-rolling-rosidl-typesupport-introspection-cpp, ros-rolling-std-msgs, ros-rolling-ros-workspace
Description: ROS 2 middleware (RMW) implementation that binds the int2DDS DDS/RTPS middleware to the ROS 2 rmw interface.
